<h1 id="heading">Click either you "like".</h1>

<div id="app">
  <div id="pictures">
  <ul>
    <li v-for="item in items">
<!--      api/item/item.idに飛ぶ-->
      <a v-bind:href="`api/items/` + item.id" controller="items" action="update" rel="nofollow" data-method="put" >{{item.name}}</a>
    </li>
  </ul>
  </div>
</div>

<script>
    new Vue({
        el: "#app",
        data() {
            return {
                items:"items",
            }
        },
        mounted() {
            this.setItems();
        },
        methods: {
            // setCompetitionsメソッドを定義
            setItems: function () {
                // GETメソッドでapi/competitionsとしたとき
                // ここには、json形式になった@random_itemsがある(index.json.jbuilderで定義した)
                axios.get('/api/items')
                    // 成功したら、
                    .then(response => (
                        // Axiosで呼び出したAPIの情報をcompetitionsに格納
                        this.items = response.data
                    ))
            },
        }

    });
</script>
