<header class="navbar navbar-fixed-top">
  <div class="container">
    <!--Railsヘルパーのlink_toでaタグを生成-->
    <!--link_to リンクテキスト,URL,オプションハッシュ(任意。今回はidのlogo）-->
    <%=link_to "Which do you like?" ,root_path,id:"logo" %>
    <%=link_to "Log out","/users/sign_out",method: :delete ,id:"nav-item"%>
    <%=link_to "Past competitions","/competitions" ,id:"nav-item"%>
  </div>
</header>
